<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kagan_Bartu_Eken_MHRS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Kagan_Bartu_Eken_MHRS.Properties.Settings>
            <setting name="adsoyad" serializeAs="String">
                <value />
            </setting>
            <setting name="tcno" serializeAs="String">
                <value />
            </setting>
            <setting name="sıfre" serializeAs="String">
                <value />
            </setting>
            <setting name="cinsiyet" serializeAs="String">
                <value />
            </setting>
            <setting name="dogumtarihi" serializeAs="String">
                <value />
            </setting>
        </Kagan_Bartu_Eken_MHRS.Properties.Settings>
    </userSettings>
</configuration>